# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Local environment and secret settings
.env

# Databases
db.sqlite3

# Virtual Environments
venv/
ENV/
env/

# Static and media directories
staticfiles/
media/
