{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4">EC2 Resource Scanner</h2>

<div class="row mb-4">

<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h6>Total Instances</h6>
<h2>{{ instances|length }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h6>Potential Savings</h6>
<h2>₹{{ total_savings }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h6>Optimization Score</h6>
<h2>{{ score }}/100</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h6>Running Instances</h6>
<h2>
{% for i in instances %}
{% if i.state == "running" %}
🟢
{% endif %}
{% endfor %}
</h2>
</div>
</div>
</div>

</div>

<table class="table table-hover table-bordered">

<thead class="table-dark">

<tr>
<th>Name</th>
<th>Instance ID</th>
<th>Type</th>
<th>Status</th>
<th>CPU %</th>
<th>Public IP</th>
<th>Launch Time</th>
<th>AZ</th>
<th>Recommendation</th>
<th>Savings</th>
</tr>

</thead>

<tbody>

{% for i in instances %}

<tr>

<td>{{ i.name }}</td>

<td>{{ i.id }}</td>

<td>{{ i.type }}</td>

<td>

{% if i.state == "running" %}
<span class="badge bg-success">Running</span>

{% elif i.state == "stopped" %}
<span class="badge bg-warning text-dark">Stopped</span>

{% elif i.state == "terminated" %}
<span class="badge bg-secondary">Terminated</span>

{% else %}
<span class="badge bg-info">{{ i.state }}</span>

{% endif %}

</td>

<td>{{ i.cpu }}%</td>

<td>{{ i.public_ip }}</td>

<td>{{ i.launch_time }}</td>

<td>{{ i.az }}</td>

<td>

<span class="badge bg-{{ i.severity }}">
{{ i.recommendation }}
</span>

</td>

<td>

{% if i.savings > 0 %}
₹{{ i.savings }}/month
{% else %}
-
{% endif %}

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}